* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    text-align: center;
}

#main {
    overflow: auto;
    padding-bottom: 50px;
}

#title {
    font-family: 'barrioregular';
    font-size: 1.5em;
}

#description, #direction {
    font-family: 'open_sansregular';
}

#direction {
    margin: 50px 0 0 0;
}

input[type=text], select {
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    color: rgb(0, 0, 0,);
    display: inline-block;
    font-size: 1.3em;
    margin: 8px 0;
    padding: 12px 20px;
    text-align: center;
    width: 100%;
}

#displayYes, #displayNo {
    font-family: 'barrioregular';
    font-size: 5em;
}

input[type=submit] {
    font-size: 1.3em;
    width: 100%;
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    position: relative;
    height: 100px;
    margin-top: -50px;
    clear: both;
    text-align: center;
}

@media screen and (min-width: 700px) {
    input[type=text], select {
        border: 1px solid black;
        border-radius: 4px;
        box-sizing: border-box;
        color: rgb(0, 0, 0,);
        display: inline-block;
        font-size: 1.3em;
        margin: 8px 0;
        padding: 12px 20px;
        text-align: center;
        width: 50%;
    }
    
    input[type=submit] {
        background-color: green;
        border-radius: 4px;
        border: none;
        font-size: 1.3em;
        color: white;
        cursor: pointer;
        padding: 14px 20px;
        margin: 8px 0;
        width: 50%;
    }
    
}